@charset "utf-8";
/* CSS Document */
#menu3 {
	border-bottom-color:#BCD2E6;
	border-bottom-style:none;
	border-bottom-width:1px;
	border-left-color-ltr-source:physical;
	border-left-color-rtl-source:physical;
	border-left-color-value:#BCD2E6;
	border-left-style-ltr-source:physical;
	border-left-style-rtl-source:physical;
	border-left-style-value:solid;
	border-left-width-ltr-source:physical;
	border-left-width-rtl-source:physical;
	border-left-width-value:1px;
	border-right-color-ltr-source:physical;
	border-right-color-rtl-source:physical;
	border-right-color-value:#BCD2E6;
	border-right-style-ltr-source:physical;
	border-right-style-rtl-source:physical;
	border-right-style-value:solid;
	border-right-width-ltr-source:physical;
	border-right-width-rtl-source:physical;
	border-right-width-value:1px;
	border-top-color:#BCD2E6;
	border-top-style:solid;
	border-top-width:thin;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	width:232px;
	padding: 0px;
}
#menu3 ul{
	list-style-type: none;
	}
#menu3 li {
 text-align:left;
 display:block;
}
#menu3 li a {
height:24px;
text-decoration:none;
voice-family:inherit;
}
#menu3 li.menu1 a:link, #menu3 li.menu1 a:visited {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../lib/menu3.gif");
background-position:0 0;
background-repeat:repeat;
color:#8BADCF;
display:block;
padding-bottom:0;
padding-left:10px;
padding-right:0;
padding-top:8px;
}
#menu3 li.menu1 a:hover {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../lib/menu3.gif");
background-position:0 -32px;
background-repeat:repeat;
color:#627EB7;
padding-bottom:0;
padding-left:10px;
padding-right:0;
padding-top:8px;
}

/* por gaby */
#menu3 li.menu1 a ul.sub3 {
	display:none;
}
#menu3 li.menu1 a:hover ul.sub3 {
	/*display:block;*/
}
#menu3 ul.sub3 li{
	display:none;
}

/* LISTADO SUBMENU */
#menu3 ul.sub3 {
clear: both;
margin: 0;
padding-left:0px;
list-style: none;
}
#menu3 ul.sub3 li{
float: left;
display: block;
clear: both;
}
#menu3 ul.sub3 li a{
display: block;
font-size: 1.04em;
color: #fff;
line-height: 24px;
text-decoration: none;
width: 170px;
padding-left: 15px;
}
#menu3 ul.sub3 li a:hover{
	color: #4355F3;
}
#menu3 ul.sub3 li .suboptAct{
color: #fff;
font-weight: 700;
background: url(../lib/bullet_01.gif) no-repeat left;
}


/* menu4 */

#dlmenu {
height:10em;
margin-bottom:300px;
margin-left:10px;
margin-right:0;
margin-top:20px;
}
#menu4 {
	border-bottom-color:#BCD2E6;
	border-bottom-style:none;
	border-bottom-width:1px;
	border-left-color-ltr-source:physical;
	border-left-color-rtl-source:physical;
	border-left-color-value:#BCD2E6;
	border-left-style-ltr-source:physical;
	border-left-style-rtl-source:physical;
	border-left-style-value:solid;
	border-left-width-ltr-source:physical;
	border-left-width-rtl-source:physical;
	border-left-width-value:1px;
	border-right-color-ltr-source:physical;
	border-right-color-rtl-source:physical;
	border-right-color-value:#BCD2E6;
	border-right-style-ltr-source:physical;
	border-right-style-rtl-source:physical;
	border-right-style-value:solid;
	border-right-width-ltr-source:physical;
	border-right-width-rtl-source:physical;
	border-right-width-value:1px;
	border-top-color:#BCD2E6;
	border-top-style:solid;
	border-top-width:thin;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	width:215px;
	padding: 0px;
list-style-type:none;
position:absolute;
/*width:15em;*/
z-index:100;
}
#menu4 li {
	text-align:left;
display:block;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
position:relative;
z-index:100;
}
#menu4 dl a {
display:block;
text-decoration:none;
	height:24px;
	padding-bottom:0;
	padding-left:10px;
	padding-right:0;
	padding-top:8px;
}
#menu4 li dd, #menu4 li td dl dd a {
display:none;
}
#menu4 li:hover dl a, #menu4 li dl a:hover, #menu4 li td dt a:hover {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("../lib/menu3.gif");
	background-position:0 -32px;
	background-repeat:no-repeat;
	color:#627EB7;
	padding-bottom:0;
	padding-left:10px;
	padding-right:0;
	padding-top:8px;
}
#menu4 li:hover dt a, #menu4 li a:hover dt a, #menu4 li:hover td dt a, #menu4 li a:hover td dt a {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("../lib/menu3.gif");
	background-position:0 -32;
	background-repeat:no-repeat;
	color:#336199;
	font-weight:bold;
}
#menu4 li dt a, #menu4 li td dt a {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-image:url("../lib/menu3.gif");
	background-position:0 0;
	background-repeat:repeat;
	color:#8BADCF;
	font-weight:bold;
	
	
	background-color:#9EC1E9;
	
	display:block;
	
}

#menu4 li:hover dd, #menu4 li a:hover dd {
display:block;
}
#menu4 li:hover dd a, #menu4 li a:hover dd a {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:#EAF2FB;
	background-image:url(sub_grad.gif);
	background-position:0 0;
	background-repeat:repeat;
	color:#51749F;
display:block;
min-height:1em;
padding-bottom:4px;
padding-left:20px;
padding-right:5px;
padding-top:4px;
text-decoration:none;
height:20px;/*1.03em;*/
}
#menu4 li:hover dl, #menu4 li a:hover dl {
	height:20em;
}
#menu4 table {
border-collapse:collapse;
font-size:1em;
margin-bottom:-4px;
margin-left:-4px;
margin-right:-4px;
margin-top:-4px;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}
#menu4 dl {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	cursor:pointer;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	width:19.2em;
}
#menu4 dt {
border-top-color:#CCCCEE;
border-top-style:solid;
border-top-width:1px;
font-size:1.1em;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}
#menu4 dd {
font-size:1em;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
text-align:left;
}

#menu4 li dd a:hover, #menu4 li td dd a:hover {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:#749DCB;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	color:#FFFFFF;
	margin:0;
}

